.item-wrapper {
    width: 165px;
    height: 80px;
    border: solid 1px grey;
    margin: 5px;
    border-radius: 0.3em;
    padding: 3px;
}

.item-wrapper-added {
    border: solid 1px darkgreen;
    color: darkgreen;
}

.item-title {
    margin-top: 0;
    height: 40px;
    font-weight: bold;
}

.item-fields-wrapper {
    display: flex;    justify-content: space-between;
    padding-right: 15px;
    padding-left: 10px;
}

.item-fields-value {
    color: darkred;
    font-size: 30px;
}

.item-fields-volume {
    font-size: 30px;
}