.items-board-container {
    display: grid;
    grid-template-columns: auto auto;
}

.category-name {
    font-size: 30px;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}