.counter-app-container {
    height: 80px;
    width: 100%;
    background-color: lightgrey;

    .money-container {
        padding-left: 20px;
        padding-top: 10px;

        .money {
            font-size: xxx-large;
        }
    }
}