.counter-app-container {
    height: 75px;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-shadow: 1px 3px 4px -2px black;

    .top-container {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;

        .money {
            font-size: 45px;
        }

        .clear {
            font-size: 45px;
            color: maroon;
        }
    }
}